div {
  baz: #{1/2}/#{1/2};
  baz: #{1/  2}/  #{1/  2};
  baz: #{1  /2}  /#{1  /2};
  baz: #{1  /  2}  /  #{1  /  2};
}

add {
  baz: #{1+2}+#{1+2};
  baz: #{1+  2}+  #{1+  2};
  baz: #{1  +2}  +#{1  +2};
  baz: #{1  +  2}  +  #{1  +  2};
}

sub {
  baz: #{1-2}-#{1-2};
  baz: #{1-  2}-  #{1-  2};
  baz: #{1  -2}  -#{1  -2};
  baz: #{1  -  2}  -  #{1  -  2};
}

mul {
  baz: #{1*2}*#{1*2};
  baz: #{1*  2}*  #{1*  2};
  baz: #{1  *2}  *#{1  *2};
  baz: #{1  *  2}  *  #{1  *  2};
}

mod {
  baz: #{1%2}%#{1%2};
  baz: #{1%  2}%  #{1%  2};
  baz: #{1  %2}  %#{1  %2};
  baz: #{1  %  2}  %  #{1  %  2};
}