div {
  baz: 2/3;
  baz: 2/  3;
  baz: 2  /3;
  baz: 2  /  3;
}

add {
  baz: 2+3;
  baz: 2+  3;
  baz: 2  +3;
  baz: 2  +  3;
}

sub {
  baz: 2-3;
  baz: 2-  3;
  baz: 2  -3;
  baz: 2  -  3;
}

mul {
  baz: 2*3;
  baz: 2*  3;
  baz: 2  *3;
  baz: 2  *  3;
}

mod {
  baz: 2%3;
  baz: 2%  3;
  baz: 2  %3;
  baz: 2  %  3;
}