div {
  baz: 3/#{1/2};
  baz: 3/  #{1/  2};
  baz: 3  /#{1  /2};
  baz: 3 /  #{1  /  2};
}

add {
  baz: 3+#{1+2};
  baz: 3+  #{1+  2};
  baz: 3  +#{1  +2};
  baz: 3 +  #{1  +  2};
}

sub {
  baz: 3-#{1-2};
  baz: 3-  #{1-  2};
  baz: 3  -#{1  -2};
  baz: 3 -  #{1  -  2};
}

mul {
  baz: 3*#{1*2};
  baz: 3*  #{1*  2};
  baz: 3  *#{1  *2};
  baz: 3 *  #{1  *  2};
}

mod {
  baz: 3%#{1%2};
  baz: 3%  #{1%  2};
  baz: 3  %#{1  %2};
  baz: 3 %  #{1  %  2};
}